<div class="cliente">
    <div class="form-group">
        <label for="">Cliente</label>
        <input class="form-control" type="text" placeholder="Buscar cliente" (input)="buscarClientes($any($event.target).value)" name="" id="">
    </div>
    <div class="list-group">
        <div *ngFor="let cliente of clientes">
            <a class="list-group-item list-group-item-action" *ngIf="cliente.visible">
                {{cliente.nombre}} {{cliente.apellido}}
            </a>
        </div>               
    </div>
</div>
