<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <app-seleccionar-cliente 
                [nombre]="clienteSeleccionado.nombre" 
                (seleccionoCliente)="asignarCliente($event)"
                (canceloCliente)="eliminarCliente()">
            </app-seleccionar-cliente>
            <div class="from-control ">
                <div  class="row">
                    <div class="col-sm-9">
                        <label for="">Tipo</label>
                        
                    </div>
                    <div class="col-sm-12">
                        <select class="form-control" name="" id="">
                            <option *ngFor="let precio of precios" value="">{{precio.tipoDuracion}}</option>
                        </select>
                    </div>
                </div> <br>
            <button class="btn btn-info" (click)="guardar()"><i class="fa fa-floppy-o"></i> Guardar</button>
            </div>        
        </div>
    </div>

    <div  class="row">
        <div class="col-sm-6">
            hj
        </div>
    </div>
</div>