<div class="container mt-5">
    <h4>Nueva Inscripción</h4> <br>
    <div class="row">
        <div class="col-sm-6">
            <app-seleccionar-cliente 
                [nombre]="clienteSeleccionado.nombre" 
                (seleccionoCliente)="asignarCliente($event)"
                (canceloCliente)="eliminarCliente()">
            </app-seleccionar-cliente>
            <div class="from-control ">
                <div  class="row">
                    <div class="col-sm-6">
                        <label for="">Tipo</label> 
                        <select (change)="seleccionarPrecio($any($event.target).value)" class="form-control" name="" id="">
                            <option [value]="null">Selecione un tipo</option>
                            <option *ngFor="let precio of precios" [value]="precio.id">{{precio.tipoDuracion}}</option>
                        </select>                       
                    </div>
                    <div class="col-sm-6">
                        <label for="">Costo</label>                        
                        <p>--</p>
                    </div>
                </div> <br>
                <button class="btn btn-info" (click)="guardar()"><i class="fa fa-floppy-o"></i> Guardar</button>
            </div>        
        </div>
    </div>
    <div  class="row">
        <div class="col-sm-6">
            hj
        </div>
    </div>
</div>