<div class="container mt-5">
    <h3>Nuevo Cliente</h3><br>
    <form action="" [formGroup]="formularioCliente">
        <div  class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Nombre </label>
                    <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">  
                    <div *ngIf="formularioCliente.controls['nombre'].invalid && formularioCliente.controls['nombre'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioCliente.controls['nombre'].errors?.required">El nombre es requerido</span>
                    </div> 
                </div>
            </div>
        
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Apellido </label>
                    <input type="text" formControlName="apellido" class="form-control" placeholder="Apellido">  
                    <div *ngIf="formularioCliente.controls['apellido'].invalid && formularioCliente.controls['apellido'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioCliente.controls['apellido'].errors?.required">El apellido es requerido</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Email </label>
                    <input type="text" class="form-control" formControlName="email" placeholder="example@mail.com">  
                    <div *ngIf="formularioCliente.controls['email'].invalid && formularioCliente.controls['email'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioCliente.controls['email'].errors?.required">El email es requerido</span>
                        <span *ngIf="formularioCliente.controls['email'].errors?.email">El email no es válido</span>
                    </div> 
                </div> 
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Teléfono </label>
                    <input type="tel" class="form-control" formControlName="telefono" placeholder="00 0000 0000">  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Fecha de Nacimiento </label>
                    <input type="date" class="form-control" formControlName="fcNacimiento" placeholder="Fecha de NAcimiento">  
                    <div *ngIf="formularioCliente.controls['fcNacimiento'].invalid && formularioCliente.controls['fcNacimiento'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioCliente.controls['fcNacimiento'].errors?.required">Fecha de Nacimiento requerida</span>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="">Imagen</label>
                    <input type="file" (change)="subirImagen($event)" class="form-control-file" formControlName="img" placeholder="Seleccione una imagen">  
                    
                </div>
            </div>
            <div class="col-sm-12">
                <progressbar [value]="porcentajeSubida" type="success" [striped]="true">{{porcentajeSubida}}%</progressbar>
                <br><br>
                <button *ngIf="!editable" class="btn btn-primary" [disabled]="formularioCliente.invalid && !urlImg" (click)="agregar()"><i class="fa fa-plus"></i> Agregar</button>
                <button *ngIf="editable" class="btn btn-warning" [disabled]="formularioCliente.invalid && !urlImg" (click)="editar()"><i class="fa fa-floppy-o"></i> Guardar</button>
            </div>              
        </div>
    </form>
</div>