<div class="container mt-5">
    <h4>Lista de Inscripciones</h4> <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Fecha Final</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inscripcion of inscripciones">
            <td>
              <img [src]="inscripcion.clienteObtenido.img" alt="" width="50px" height="45px">
            </td>
            <td>{{inscripcion.clienteObtenido.nombre}} {{inscripcion.clienteObtenido.apellido}}</td>
            <td>{{inscripcion.fecha | date}}</td>
            <td>{{inscripcion.fechaFinal | date}}</td>
          </tr>
          
        </tbody>
      </table>
</div>
