<div class="container mt-4">
    <h3>Clientes</h3>
    <form class="form-inline">
        <div class="form-group">
          <input type="" class="form-control" id="" placeholder="Buscar">
        </div>
        <button type="submit" class="btn btn-success  mx-sm-3" routerLink="/agregarCliente"> Nuevo Cliente</button>
      </form>
    <br>
    <div class="row">
        <div class="col-sm-3" *ngFor="let cliente of clientes"> 
            <div class="card">
                <img class="card-img-top imgCliente" [src]="cliente.img" >
                <div class="card-body">
                  <p>{{ cliente.id }}</p>
                  <h5 class="card-title">{{cliente.nombre}} {{cliente.apellido}} </h5>
                  <a [routerLink]="['/agregarCliente', cliente.id]" class="card-link text-success">Editar</a>
                  <a class="card-link text-danger">Desactivar</a>
                </div>
            </div>
            <br> 
        </div>    
    </div>
  </div>
