<div class="container mt-4">
    <h4>Clientes</h4> <br>
    <form class="form-inline">
        <div class="form-group">
          <input type="" class="form-control" id="" placeholder="Buscar" (input)="buscar($any($event.target).value)">
        </div>
        <button type="submit" class="btn btn-success  mx-sm-3" routerLink="/agregarCliente"><i class="fa fa-user-plus"></i> Nuevo Cliente</button>
      </form>
    <br>
    <div class="row">
        <div class="col-sm-3" *ngFor="let cliente of clientes"> 
            <div class="card">
                <img class="card-img-top imgCliente" [src]="cliente.img" >
                <div class="card-body">
                  <p>{{ cliente.id }}</p>
                  <h5 class="card-title">{{cliente.nombre}} {{cliente.apellido}} </h5>
                  <a [routerLink]="['/agregarCliente', cliente.id]" class="card-link text-success"><i class="fa fa-pencil"></i> </a>
                  <a class="card-link text-danger"><i class="fa fa-times"></i> </a>
                </div>
            </div>
            <br> 
        </div>    
    </div>
  </div>
