<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #501717;">
    <img src="assets/logo1.png" alt="" class="img-fluid" width="100px" height="100px">
    <button class="navbar-toggler collapsed" type="button" (click)="toggleState()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse" [ngClass]="{ 'collapse': isCollapse }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/">
            <i class="fa fa-home"></i> Inicio<span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-files-o"></i>  Inscripciones
            </a>
            <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="verInscripciones">Ver Inscripciones</a>
              <a class="dropdown-item" routerLink="inscripcion">Nueva Inscripción</a>            
            </div>
        </li>
        
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-users"></i>   Clientes
          </a>
          <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="listaClientes">Ver Clientes</a>
            <a class="dropdown-item" routerLink="agregarCliente">Nuevo Cliente</a>
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="precios"><i class="fa fa-usd"></i> Precios<span class="sr-only"></span></a>
        </li>
        </ul>
      <a class="card-link text-danger" (click)="logout()"><i class="fa fa-power-off"></i> Salir</a>
    </div>
</nav>